body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #5566ab, #15275b);
  background-size: 200% 200%;
  transition: background-color 0.3s ease;
  position: relative; /* Necessario per posizionare i cerchi assolutamente */
}





/* Cerchi sfocati */
@keyframes moveCircles {
  0% {
      transform: translate(0, 0);
  }
  50% {
      transform: translate(50px, 50px);
  }
  100% {
      transform: translate(-50px, -50px);
  }
}

.circle {
  position: absolute;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.096);
  filter: blur(40px);
  mix-blend-mode: screen;
  animation: moveCircles 10s infinite ease-in-out;
  pointer-events: none;  /* Aggiunto per evitare interferenze con clic su altri elementi */
}

/* Diversi cerchi */
.circle:nth-child(1) {
  width: 1050px;
  height: 1050px;
  top: 20%;
  left: 25%;
  animation-duration: 18s;
}

.circle:nth-child(2) {
  width: 400px;
  height: 400px;
  top: 40%;
  left: 60%;
  animation-duration: 22s;
}

.circle:nth-child(3) {
  width: 620px;
  height: 620px;
  top: 65%;
  left: 15%;
  animation-duration: 16s;
}

.circle:nth-child(4) {
  width: 250px;
  height: 250px;
  top: 30%;
  left: 50%;
  animation-duration: 25s;
}

.circle:nth-child(5) {
  width: 180px;
  height: 180px;
  top: 75%;
  left: 80%;
  animation-duration: 20s;
}

/* Sfondo animato */
@keyframes gradientAnimation {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}
