/* Body - Imposta il colore di sfondo di base */
body {
  background-color: #ffffff; /* Colore di sfondo normale del body */
  transition: background-color 2s ease; /* Aggiungi una transizione per il colore di sfondo */
}



.login-container:focus-within ~ body {
  background-color: #222731b3; /* Colore più scuro per il body */
}

/* Contenitore del login con larghezza maggiore */
.login-container {
  background-color: #2227318f;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 450px;  /* Aumentata la larghezza */
  box-sizing: border-box;  /* Garantisce che padding e bordi non causino overflow */
  transition: background-color 2s ease; /* Transizione per l'effetto di oscuramento */
}

/* Quando uno degli input riceve il focus */
.login-container:focus-within {
  background-color: #222731d9; /* Colore del background leggermente più scuro */
}

/* Titolo del login */
.login-container h1 {
  text-align: center;
  color: #ebebebba;
  margin-bottom: 20px;
  font-size: 22px;
}

/* Stile per gli input */
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px;  /* Aumentato padding per maggiore spazio */
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;  /* Assicura che i bordi e il padding non escono fuori */
  font-size: 16px;
  transition: all 0.3s ease;
}

/* Focus sugli input */
input[type="email"]:focus,
input[type="password"]:focus {
  border-color: #2575fc;
  outline: none;
}

/* Stile del pulsante */
button {
  width: 100%;
  padding: 12px;  /* Aumentato padding */
  background-color: #2575fc;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-sizing: border-box; /* Anche il pulsante deve essere controllato */
}

/* Hover sul pulsante */
button:hover {
  background-color: #1d65d6;
}

/* Link per la registrazione */
.register-link {
  display: block;
  text-align: center;
  margin-top: 15px;
  color: #ebebeb;
}

.register-link a {
  color: #2575fc;
  text-decoration: none;
  font-weight: bold;
}

.register-link a:hover {
  text-decoration: underline;
}

/* Contenitore per il logo */
.logo-container {
  display: flex;
  justify-content: center; /* Centra orizzontalmente il logo */
  align-items: center;
  margin-bottom: 20px; /* Spazio tra il logo e il titolo */
}

/* Stile per il logo */
.login-logo {
  max-width: 350px; /* Limita la dimensione massima del logo */
  width: 100%; /* Adatta alla larghezza del contenitore */
  height: auto; /* Mantiene il rapporto d'aspetto */
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2)); /* Aggiunge un'ombra per maggiore risalto */
}
