/* Impostazioni di base del body */
body {
    background: linear-gradient(135deg, #2d3e87 0%, #1c2c58 100%); /* Gradiente più scuro */
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    box-sizing: border-box; /* Assicurati che il box-sizing si applica a tutti gli elementi */
  }
  
  /* Contenitore del login con larghezza maggiore */
  .login-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 450px;  /* Aumentata la larghezza */
    box-sizing: border-box;  /* Garantisce che padding e bordi non causino overflow */
  }
  
  /* Titolo del login */
  .login-container h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Stile per gli input */
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 12px;  /* Aumentato padding per maggiore spazio */
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;  /* Assicura che i bordi e il padding non escono fuori */
    font-size: 16px;
    transition: all 0.3s ease;
  }
  
  /* Focus sugli input */
  input[type="email"]:focus,
  input[type="password"]:focus {
    border-color: #2575fc;
    outline: none;
  }
  
  /* Stile del pulsante */
  button {
    width: 100%;
    padding: 12px;  /* Aumentato padding */
    background-color: #2575fc;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-sizing: border-box; /* Anche il pulsante deve essere controllato */
  }
  
  /* Hover sul pulsante */
  button:hover {
    background-color: #1d65d6;
  }
  
  /* Link per la registrazione */
  .register-link {
    display: block;
    text-align: center;
    margin-top: 15px;
  }
  
  .register-link a {
    color: #2575fc;
    text-decoration: none;
    font-weight: bold;
  }
  
  .register-link a:hover {
    text-decoration: underline;
  }
  
  .logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .login-logo {
    width: 100px; /* Regola la dimensione del logo */
    height: auto;
  }